<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\header.ejs" , { login_status : logged_in}) %>
    <header>
        <h1>Frequently Asked Questions</h1>
    </header>
    <main>
        <section>
            <h2>General Questions</h2>
            <ul>
                <li>
                    <h3>What is this website about?</h3>
                    <p>This website is the one-stop to all your favourite games.</p>
                </li>
                <li>
                    <h3>How do I contact you?</h3>
                    <p>You can contact us through our contact form or by emailing us at <a href="mailto:info@example.com" style="text-decoration: none;">info@example.com</a>.</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Account Questions</h2>
            <ul>
                <li>
                    <h3>How do I create an account?</h3>
                    <p>To create an account, click on the "Sign Up" button in the top right corner of the page and follow the instructions.</p>
                </li>
                <li>
                    <h3>I forgot my password, what do I do?</h3>
                    <p>Click on the "Forgot Password" link on the login page and follow the instructions to reset your password.</p>
                </li>
                <li>
                    <h3>How do I change my email address?</h3>
                    <p>Go to your account settings and select "Change Email" to update your email address.</p>
                </li>
                <li>
                    <h3>How can I delete my account?</h3>
                    <p>Contact our support team through the "Help" section, and they will assist you in deleting your account.</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Technical Questions</h2>
            <ul>
                <li>
                    <h3>What browsers do you support?</h3>
                    <p>We support the latest versions of Chrome, Firefox, Safari, and Edge.</p>
                </li>
                <li>
                    <h3>Why isn't the website working on my device?</h3>
                    <p>Try clearing your browser cache and cookies, or try using a different browser. If the issue persists, contact us for further assistance.</p>
                </li>
                <li>
                    <h3>Why is my game not loading?</h3>
                    <p>Ensure that your internet connection is stable, clear your browser cache, and try reloading the game.</p>
                </li>

            </ul>
        </section>
        <section>
            <h2>Other Questions</h2>
            <ul>
                <li>
                    <h3>Can I play the game on multiple devices?</h3>
                    <p>Yes, you can play on multiple devices as long as you log in with the same account.</p>
                </li>
                <li>
                    <h3>Is the game free-to-play?</h3>
                    <p>Yes, the game is free-to-play with optional in-game purchases.</p>
                </li>             
            </ul>
        </section>
    </main>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
            color: aliceblue;
        }

        header {
            background-color: black;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
            color: limegreen;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        section {
            background-color: #1b1c1d;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            
        }

        h2 {
            margin-top: 0;
            color: limegreen;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 20px;
        }

        h3 {
            margin-top: 0;
        }

        p {
            margin-bottom: 25px;
        }

        a {
            text-decoration: none;
            color: #337ab7;
        }

        a:hover {
            color: #23527c;
        }

        footer {
            background-color: #1b1c1d;
            padding: 10px;
            text-align: center;
            clear: both;
        }

        footer p {
            margin: 0;
        }
    </style>
<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\footer.ejs") %>