<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\header.ejs") %>
<div class="landing-sec">
    <iframe width="1500" height="600" src="https://www.youtube.com/embed/4tk8lkmYGWQ?si=NXqJJ-u71CICqRbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div>
    <div class = "trending-back"style=""><a href="#" style = "text-decoration: none; font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; color:beige"><h1>GAME CATEGORIES</h1></a>
</div>
<div class="container" style="display:grid; grid-template-rows:1fr; grid-template-columns: 1fr 1fr 1fr 1fr; position: relative;">
    <div class="card">
        <div class="card-side front">
          <div><img src="images\memory-game-icon.svg" alt="MEMORY GAME" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/card" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Back Side</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\board-game-icon.svg" alt="front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/puzzle" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Back Side</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\adventure-game-icons.svg" alt="Front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/genre1" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Back Side</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\poker-cards-icon.svg" alt="Front side" style="height: 150px; width: 150px; color: white;"></div>
        </div>
        <div class="card-side back">
            <a href="/genre1" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Back Side</div></a>
        </div>
    </div>
</div>
<div class="main-sec">

    <div class="div_2">
        <div class="mostpopular">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST POPULAR..</a>
            <div class="square">
                <div id="sq1"></div>
                <div id="sq1"></div>
                <div id="sq1"></div>
                <div id="sq1"></div>
            </div>
        </div>
        <div class="mostplayed">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST PLAYED..</a>
            <div class="square">
                <div id="sq1"></div>
                <div id="sq1"></div>
                <div id="sq1"></div>
                <div id="sq1"></div>
            </div>
        </div>
    </div>

    <!-- just an example -->
    <div class="container_trendandnew" style="display:flex; justify-content: center; align-items: center; margin: 10px;">
        <div class = "trending-back"style=""><a href="#" style = "text-decoration: none; color:rgb(77, 161, 226);"><h4>- TRENDING AND NEW -</h4></a>
            <br>
            <div class="game-card">
                <a href="driving-index.html"> 
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon"> <!-- Placeholder image -->
                </a>
                <a href="driving-index.html"><p>GTA 5</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html"> 
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon"> 
                </a>
                <a href="driving-index.html"><p>Car Driving </p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html"> <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html"><p>Car Driving Rating</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html" > <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html"><p>Car Driving Rating</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html" > <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html" ><p>Car Driving Rating</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html" > <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html" ><p>Car Driving Rating</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html" > <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html" ><p>Car Driving Rating</p></a>
            </div>
            <div class="game-card">
                <a href="driving-index.html" > <!-- Placeholder link -->
                    <img src="C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg" alt="Game Icon" > <!-- Placeholder image -->
                </a>
                <a href="driving-index.html"><p>Car Driving Rating</p></a>
            </div>
        </div>
    </div>

    <div class="genre" id = "driving-genre">DRIVING (SEE MORE LIKE THESE)</div> <!-- clickable link -->
    <div class="box1 box">
        <div class="box-content">
            <div class="box-img" style="background-image:url('C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg');"></div>
            <p>PLAY GAME</p> 
        </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "action-genre">ACTION & ADVENTURE (SEE MORE LIKE THESE)</div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "strategy-genre">STRATAGY AND RPG (SEE MORE LIKE THESE)</div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "fighting-genre">FIGHTING (SEE MORE LIKE THESE)</div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="genre" id = "shooting-genre">SHOOTING (SEE MORE LIKE THESE)</div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="genre" id = "sports-genre">SPORTS (SEE MORE LIKE THESE)</div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
</div>



<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\chatbot.ejs") %>
<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\footer.ejs") %>
