<%- include("partials/header.ejs", { login_status : logged_in}) %>
<div class="landing-sec">
    <iframe width="1500" height="600" src="https://www.youtube.com/embed/4tk8lkmYGWQ?si=NXqJJ-u71CICqRbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div>
    <div class = "trending-back"style=""><a href="#" style = "text-decoration: none; font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; color:beige"><h1>GAME CATEGORIES</h1></a>
</div>
<div class="container" style="display:grid; grid-template-rows:1fr; grid-template-columns: 1fr 1fr 1fr 1fr; position: relative;">
    <div class="card">
        <div class="card-side front">
          <div><img src="images\memory-game-icon.svg" alt="MEMORY GAME" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/strategy" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Strategy</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\board-game-icon.svg" alt="front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/puzzle" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Puzzle</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\adventure-game-icons.svg" alt="Front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/action" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Adventure</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\poker-cards-icon.svg" alt="Front side" style="height: 150px; width: 150px; color: white;"></div>
        </div>
        <div class="card-side back">
            <a href="/fighting" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Card Games</div></a>
        </div>
    </div>
</div>
<div class="main-sec">

    <div class="div_2">
        <div class="mostpopular">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST POPULAR..</a>
            <div class="square">
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/tower_rush_webgl" style="text-decoration: none; color: orange;"><img alt="Tower Rush" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/179727/small.gif"  /><br>Tower Rush<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/battle_universe_2d" style="text-decoration: none; color: orange;"><img alt="Battle Universe 2D" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/178835/small.gif"  /><br>Battle Universe 2D<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/the_scythian_warrior" style="text-decoration: none; color: orange;"><img alt="The Scythian Warrior" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/176881/small.gif"  /><br>The Scythian Warrior<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/granny_horror_escape" style="text-decoration: none; color: orange;"><img alt="Granny Horror Escape" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/178139/small.gif"/><br>Granny Horror Escape<br>Play Now!</a> </div>
            </div>
        </div>
        <div class="mostplayed">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST PLAYED..</a>
            <div class="square">
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/grand_action" style="text-decoration: none; color: orange;"><img alt="Grand Action" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/120144/small.gif" /><br>Grand Action<br>Play Now!</a></div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/worms_zone" style="text-decoration: none; color: orange;"><img alt="Worms Zone" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/124909/small.gif" /><br>Worms Zone<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/short_life_2" style="text-decoration: none; color: orange;"><img alt="Short Life 2" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/131991/small.gif" /><br>Short Life 2<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/fall_friends_challenge" style="text-decoration: none; color: orange;"><img alt="Fall Friends Challenge" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/139407/small.gif" /><br>Fall Friends Challenge<br>Play Now!</a> </div>
            </div>
        </div>
    </div>
    
    <div class="genre" id = "driving-genre"><a href="/driving" style="text-decoration: none; color: limegreen;">DRIVING (SEE MORE LIKE THESE)</a></div> <!-- clickable link -->
    <div class="box1 box">
        <div class="box-content">
            <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/173717/small.gif');"></div>
            <a href="/game-get/Driving_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
        </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/126458/small.gif');"></div>
        <a href="/game-get/Driving_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/169035/small.gif');"></div>
    <a href="/game-get/Driving_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a></div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/152012/small.gif');"></div>
    <a href="/game-get/Driving_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/156863/small.gif');"></div>
    <a href="/game-get/Driving_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/170213/small.gif');"></div>
    <a href="/game-get/Driving_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>

<div class="genre" id = "action-genre"><a href="/action" style="text-decoration: none; color: limegreen;">ACTION & ADVENTURE (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://agamecdn.com/system/static/thumbs/spil_thumb_big/33774/thumb_92_200X120_173444_1569397450.jpg?1692361591');"></div>
        <a href="/game-get/Action_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('images/endlessseige.jpg');"></div>
        <a href="/game-get/Action_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://agamecdn.com/system/static/thumbs/spil_thumb_big/90455/webp_Madness-Driver-Vertigo-City-200x120.webp?1713267005');"></div>
    <a href="/game-get/Action_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://images.crazygames.com/shadow-ninja-revenge/20230501110202/shadow-ninja-revenge-cover?auto=format%2Ccompress&q=90&cs=strip&ch=DPR&w=178&h=100&fit=crop');"></div>
    <a href="/game-get/Action_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://agamecdn.com/system/static/thumbs/spil_thumb_big/90658/jpeg_Hydro-Racing-3D-200x120.jpg?1714992970');"></div>
    <a href="/game-get/Action_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://agamecdn.com/system/static/thumbs/spil_thumb_big/31860/jpeg_200X120_167965.jpg?1692360335');"></div>
    <a href="/game-get/Action_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>

<div class="genre" id = "strategy-genre"><a href="/strategy" style="text-decoration: none; color: limegreen;">STRATEGY AND RPG (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('images\\millionarequiz.jpg');"></div>
        <a href="/game-get/Strategy_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('images\\13nights.jpg');"></div>
        <a href="/game-get/Strategy_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('images\\draughts.jpg');"></div>
    <a href="/game-get/Strategy_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('images\\stickmanarmy.jpg');"></div>
    <a href="/game-get/Strategy_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('images\\imposterwars.jpg');"></div>
    <a href="/game-get/Strategy_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('images\\airtraffic.jpg');"></div>
    <a href="/game-get/Strategy_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>

<div class="genre" id = "fighting-genre"><a href="/fighting" style="text-decoration: none; color: limegreen;">FIGHTING (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/28384/small.jpg');"></div>
        <a href="/game-get/Fighting_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/146233/small.gif');"></div>
        <a href="/game-get/Fighting_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/56860/small.gif');"></div>
    <a href="/game-get/Fighting_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/58159/small.gif');"></div>
    <a href="/game-get/Fighting_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/103184/small.gif');"></div>
    <a href="/game-get/Fighting_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/54134/small.gif');"></div>
    <a href="/game-get/Fighting_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="genre" id = "shooting-genre"><a href="/fps" style="text-decoration: none; color: limegreen;">SHOOTING (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/173303/small.gif');"></div>
        <a href="/game-get/Shooting_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/164491/small.gif');"></div>
        <a href="/game-get/Shooting_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/141997/small.gif');"></div>
    <a href="/game-get/Shooting_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/166799/small.gif');"></div>
    <a href="/game-get/Shooting_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/114977/small.gif');"></div>
    <a href="/game-get/Shooting_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/153528/small.gif');"></div>
    <a href="/game-get/Shooting_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="genre" id = "sports-genre"><a href="/sports" style="text-decoration: none; color: limegreen;">SPORTS (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/169177/small.gif');"></div>
        <a href="/game-get/Sports_0" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs-small-thumbnails-001/107080/small.gif');"></div>
        <a href="/game-get/Sports_1" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/y8-thumbs/71600/small.gif');"></div>
    <a href="/game-get/Sports_2" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/127780/small.gif');"></div>
    <a href="/game-get/Sports_3" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/138142/small.gif');"></div>
    <a href="/game-get/Sports_4" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/145697/small.gif');"></div>
    <a href="/game-get/Sports_5" style="text-decoration: none; color: limegreen;"><p>PLAY GAME</p></a>
</div>
</div>
</div>



<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<%- include('partials/chatbot.ejs'); -%>
<%- include('partials/footer.ejs'); -%>
