<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\header.ejs" , {route_path : route}) %>
<div class="landing-sec">
    <iframe width="1500" height="600" src="https://www.youtube.com/embed/4tk8lkmYGWQ?si=NXqJJ-u71CICqRbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div>
    <div class = "trending-back"style=""><a href="#" style = "text-decoration: none; font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; color:beige"><h1>GAME CATEGORIES</h1></a>
</div>
<div class="container" style="display:grid; grid-template-rows:1fr; grid-template-columns: 1fr 1fr 1fr 1fr; position: relative;">
    <div class="card">
        <div class="card-side front">
          <div><img src="images\memory-game-icon.svg" alt="MEMORY GAME" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/card" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Strategy</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\board-game-icon.svg" alt="front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/puzzle" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Puzzle</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\adventure-game-icons.svg" alt="Front side" style="height: 150px; width: 150px;"></div>
        </div>
        <div class="card-side back">
            <a href="/genre1" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Adventure</div></a>
        </div>
    </div>

    <div class="card">
        <div class="card-side front">
          <div><img src="images\poker-cards-icon.svg" alt="Front side" style="height: 150px; width: 150px; color: white;"></div>
        </div>
        <div class="card-side back">
            <a href="/genre1" style="text-decoration: none; text-decoration-color: white; color: azure;"><div>Card Games</div></a>
        </div>
    </div>
</div>
<div class="main-sec">

    <div class="div_2">
        <div class="mostpopular">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST POPULAR..</a>
            <div class="square">
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/tower_rush_webgl" style="text-decoration: none; color: limegreen;"><img alt="Tower Rush" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/179727/small.gif"  /><br>Tower Rush<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/battle_universe_2d" style="text-decoration: none; color: limegreen;"><img alt="Battle Universe 2D" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/178835/small.gif"  /><br>Battle Universe 2D<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/the_scythian_warrior" style="text-decoration: none; color: limegreen;"><img alt="The Scythian Warrior" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/176881/small.gif"  /><br>The Scythian Warrior<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/granny_horror_escape" style="text-decoration: none; color: limegreen;"><img alt="Granny Horror Escape" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/178139/small.gif"/><br>Granny Horror Escape<br>Play Now!</a> </div>
            </div>
        </div>
        <div class="mostplayed">
            <a style="text-align: center; color: orange; font-size: 20px;">MOST PLAYED..</a>
            <div class="square">
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/grand_action" style="text-decoration: none; color: limegreen;"><img alt="Grand Action" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/120144/small.gif" /><br>Grand Action<br>Play Now!</a></div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/worms_zone" style="text-decoration: none; color: limegreen;"><img alt="Worms Zone" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/124909/small.gif" /><br>Worms Zone<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/short_life_2" style="text-decoration: none; color: limegreen;"><img alt="Short Life 2" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/131991/small.gif" /><br>Short Life 2<br>Play Now!</a> </div>
                <div id="sq1"> <a target="_blank" href="https://www.y8.com/games/fall_friends_challenge" style="text-decoration: none; color: limegreen;"><img alt="Fall Friends Challenge" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/139407/small.gif" /><br>Fall Friends Challenge<br>Play Now!</a> </div>
            </div>
        </div>
    </div>
    
    <div class="genre" id = "driving-genre"><a href="/driving">DRIVING (SEE MORE LIKE THESE)</a></div> <!-- clickable link -->
    <div class="box1 box">
        <div class="box-content">
            <div class="box-img" style="background-image:url('C:\Users\Psn\Desktop\Web Development\Game-hub-server\public\images\1-1.jpg');"></div>
            <p>PLAY GAME</p> 
        </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "action-genre"><a href="/action">ACTION & ADVENTURE (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "strategy-genre"><a href="/strategy">STRATEGY AND RPG (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>

<div class="genre" id = "fighting-genre"><a href="/fighting">FIGHTING (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
        
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
   
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="genre" id = "shooting-genre"><a href="/fps">SHOOTING (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="genre" id = "sports-genre"><a href="/sports">SPORTS (SEE MORE LIKE THESE)</a></div>
    <div class="box1 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
    </div>
    <div class="box2 box">
        <div class="box-content">
       
        <div class="box-img" style="background-image:url('');"></div>
        <p>PLAY GAME</p>
    </div>
</div>
<div class="box3 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
<div class="box4 box">
    <div class="box-content">
    
    <div class="box-img" style="background-image:url('');"></div>
    <p>PLAY GAME</p>
</div>
</div>
</div>



<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\chatbot.ejs") %>
<%- include("C:\\Users\\Psn\\Desktop\\Web Development\\Game-hub-server\\views\\partials\\footer.ejs") %>
